# 历史平均

In [3]:
import pandas as pd
import numpy as np
from util import *
%load_ext autoreload
%autoreload 2

In [9]:
dataset = pd.read_csv("data/gy_contest_link_traveltime_training_data.txt", delimiter=';', header=0, names=['link', 'date', 'interval', 'travel_time'], parse_dates=['date'])

In [18]:
info = pd.read_csv("data/gy_contest_link_info.txt", delimiter=';')

In [22]:
len(info.link_ID.values)

132

In [11]:
dataset['dt'] = dataset.interval.map(extract_dt)
dataset.index = dataset.dt

In [23]:
dataset.head(10)

,link,date,interval,travel_time,dt
dt,,,,,
2016-05-21 23:20:00,9377906285566510514,2016-05-21,"[2016-05-21 23:20:00,2016-05-21 23:22:00)",17.6,2016-05-21 23:20:00
2016-05-21 18:46:00,3377906288228510514,2016-05-21,"[2016-05-21 18:46:00,2016-05-21 18:48:00)",3.5,2016-05-21 18:46:00
2016-05-21 07:06:00,3377906284395510514,2016-05-21,"[2016-05-21 07:06:00,2016-05-21 07:08:00)",10.0,2016-05-21 07:06:00
2016-05-21 14:34:00,4377906284959500514,2016-05-21,"[2016-05-21 14:34:00,2016-05-21 14:36:00)",3.5,2016-05-21 14:34:00
2016-05-21 05:04:00,9377906282776510514,2016-05-21,"[2016-05-21 05:04:00,2016-05-21 05:06:00)",1.5,2016-05-21 05:04:00
2016-05-21 16:04:00,3377906287674510514,2016-05-21,"[2016-05-21 16:04:00,2016-05-21 16:06:00)",34.1,2016-05-21 16:04:00
2016-05-21 04:26:00,4377906288869500514,2016-05-21,"[2016-05-21 04:26:00,2016-05-21 04:28:00)",9.5,2016-05-21 04:26:00
2016-05-21 10:36:00,4377906287959500514,2016-05-21,"[2016-05-21 10:36:00,2016-05-21 10:38:00)",52.8,2016-05-21 10:36:00
2016-05-21 17:50:00,4377906285525800514,2016-05-21,"[2016-05-21 17:50:00,2016-05-21 17:52:00)",16.7,2016-05-21 17:50:00
2016-05-21 14:40:00,4377906280241600514,2016-05-21,"[2016-05-21 14:40:00,2016-05-21 14:42:00)",21.9,2016-05-21 14:40:00

In [12]:
history_mean = dataset.groupby(['link', lambda x: (x.hour, x.minute)])['travel_time'].mean()

In [17]:
history_mean['3377906280028510514'][(8, 20)]

6.3224489795918366

In [13]:
# 3377906280028510514#2016-06-01#[2016-06-01 08:00:00,2016-06-01 08:02:00)#7.35576923076923
# 4377906289869500514#2016-06-01#[2016-06-01 08:00:00,2016-06-01 08:02:00)#7.197101

In [24]:
from datetime import datetime, timedelta

In [33]:
result_file = file('think_20170725.txt', 'w')
for d in range(1, 31):
    for link in info.link_ID.values:
        for t in pd.date_range(datetime(2016, 6, d, 8), 
                               datetime(2016, 6, d, 9), closed='left', freq='2min'):
            result_file.write("%s#%s#[%s,%s)#%f\n" % (link, 
                                                    datetime(2016, 6, d).strftime("%Y-%m-%d"),
                                                    t.strftime("%Y-%m-%d %H:%M:%S"), 
                                                    (t+timedelta(minutes=2)).strftime("%Y-%m-%d %H:%M:%S"),
                                                    history_mean[link][(8, t.minute)]))

In [32]:
len(history_mean)

94842